server:
  port: 8848
  servlet:
    context-path: /api
    session:
      timeout: 226000
spring:
  profiles:
    active: dev
  application:
    name: practice-questions
  datasource:
    url: jdbc:mysql://localhost:3306/practice_question
    password: zzz123321
    username: root
  data:
    redis:
      host: localhost
      port: 6379
      database: 0
  session:
    data:
      redis:
        namespace: practice_questions:session
    timeout: 226000

#  mybatis-plus项目配置
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: is_delete   # 实体字段名
      logic-delete-value: 1
      logic-not-delete-value: 0

# springdoc-openapi项目配置
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.jie.practicequestions.controller
# knife4j的增强配置，不需要增强可以不配
knife4j:
  enable: true
  setting:
    language: zh_cn